POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
RABBITMQ_DEFAULT_USER=platform
RABBITMQ_DEFAULT_PASS=change_me
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=change_me
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
VAULT_DEV_ROOT_TOKEN_ID=local_dev_only_change_me
